DB_HOST=aws-region.pooler.supabase.com
DB_PORT=5432
DB_USER=postgres.xxxx
DB_PASS=password
DB_NAME=postgres
JWT_SECRET=your_jwt_key
PORT=8080
MIDTRANS_SERVER_KEY=SB-Mid-server-xxxxxxxxxxxxxxxxxxxx
MIDTRANS_SNAP_URL=https://app.sandbox.midtrans.com/snap/v1/transactions